body {
  font-family: "Helvetica", sans-serif;
}

#arama_form {
  width: 600px;
  background-color: #ccc;
  text-align: center;
  padding: 20px 0;
  margin: auto;
}

#arama_form input {
  border-width: 0;
  padding: 8px 18px;
  font-size: 18px;
  color: #666;
}

#arama_form button {
  padding: 8px 18px;
  font-size: 18px;
  border-width: 0;
  background-color: #efefef;
  color: #666;
}

#filmler {
  width: 600px;
  list-style: none;
  margin: auto;
  padding: 0;
}
